<html>
    <head>
        <title>Andi's blog</title>
    </head>
    <body>
    	<div>
    		<h1> <a href ="">Django Girls Blog</a></h1>
    	      <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 21.11.2015</p>
            <h2><a href="">My first post</a></h2>
            <p>This is where you can enter your first post.</p>
        </div>

        <div>
            <p>published: 21.11.2015</p>
            <h2><a href="">My second post</a></h2>
            <p>This is where you can enter your first post.</p>
        </div>
    </body>
</html>
